<div class="container">
  <div class="row">
    <!-- <div class="col"></div> -->
    <div class="col">
      <div
        class="card"
        id="admin-cards-0"
        style="width: 12rem; height: 7rem"
        (click)="addLibrary('add-library')"
      >
        <div class="card-body">
          <ul>
            <li>
              <h5 class="card-title" id="card-title-tag-0">Add Library</h5>
            </li>
            <li>
              <i
                id="gly-icon-0"
                class="glyphicon glyphicon-plus"
                style="font-size: 18px; color: white"
              ></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card"
        (click)="addLibrarian('add-librarian')"
        id="admin-cards-1"
        style="width: 13rem; height: 7rem"
      >
        <div class="card-body">
          <ul>
            <li>
              <h5 class="card-title" id="card-title-tag-1">Add Librarian</h5>
            </li>
            <li>
              <i
                id="gly-icon-1"
                class="glyphicon glyphicon-user"
                style="font-size: 18px; color: white"
              ></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card"
        id="admin-cards-2"
        (click)="seeLibraries()"
        style="width: 13rem; height: 7rem"
      >
        <div class="card-body">
          <ul>
            <li>
              <h5 class="card-title" id="card-title-tag-2">See Libraries</h5>
            </li>
            <li>
              <i
                id="gly-icon-2"
                class="glyphicon glyphicon-eye-open"
                style="font-size: 18px; color: white"
              ></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card"
        id="admin-cards-11"
        (click)="checkProfile()"
        style="width: 13rem; height: 7rem"
      >
        <div class="card-body">
          <ul>
            <li>
              <h5 class="card-title" id="card-title-tag-2">Check Profile</h5>
            </li>
            <li>
              <i
                id="gly-icon-2"
                class="glyphicon glyphicon-eye-open"
                style="font-size: 18px; color: white"
              ></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card"
        id="admin-cards-4"
        style="width: 13rem; height: 7rem"
        (click)="seeLibrarians()"
      >
        <div class="card-body">
          <ul>
            <li>
              <h5 class="card-title" id="card-title-tag-4">
                <a routerlink="/adminviewalllibrarians">See Librarians</a>
              </h5>
            </li>
            <li>
              <i
                id="gly-icon-4"
                class="glyphicon glyphicon-eye-open"
                style="font-size: 18px; color: white"
              ></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- {{ user_id }} -->

  <div class="container text-center">
    <div class="row">
      <div class="col-6">
        <mat-card id="mat-card-2">
            <h5 style="color: white;">Enjoy the services offered by LMS</h5>
            <h5 style="color:white;padding-top:170px;font-size: larger;">Now reading books are lot more easier than before</h5>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card id="mat-card-4"> 
          <h5 style="color:white;padding-top:180px;font-size: larger;">Read books at your own convience</h5>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
      <div class="col-11">
        <mat-card id="mat-card-5"> </mat-card>
      </div>
</div>
</div>

<div class="container text-center">
  <div class="row">
      <div class="col-1">
        <mat-card id="mat-card-6"> </mat-card>
      </div>
      <div class="col-1">
        <mat-card id="mat-card-7"> </mat-card>
      </div>
      <div class="col-1">
        <mat-card id="mat-card-8"> </mat-card>
      </div>
</div>
</div>

<!-- <div class="container text-center">
  <div class="row">
      
</div>
</div> -->

<br><br>


