<div class="container text-center">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-6">
      {{ message }}
      <form>
        <div class="col-8">
          <img src="assets/img/signup_here.png" />
          <label for="library_name" class="visually-hidden">Username</label>
          <input
            type="text"
            [(ngModel)]="user.userName"
            name="userName"
            class="form-control"
            id="user-name"
            placeholder="Username"
          />
        </div>
        <br />
        <div class="col-8">
          <label for="admin_id" class="visually-hidden">Email</label>
          <input
            type="text"
            [(ngModel)]="user.email"
            name="email"
            class="form-control"
            id="email-id"
            placeholder="Enter emailId"
          />
        </div>

        <br />

        <div class="col-8">
          <label for="admin_id" class="visually-hidden">Role</label>
          <select
            class="form-select"
            aria-label="Default select example"
            [(ngModel)]="selected"
            name="selected"
          >
            <option selected>Choose Role</option>
            <option value="ADMIN">ADMIN</option>
            <!-- <option value="LIBRARIAN">LIBRARIAN</option> -->
            <option value="GENARAL USER">GENARAL USER</option>
          </select>
        </div>

        <br />

        <div class="col-8">
          <label for="admin_id" class="visually-hidden">Qualification</label>
          <input
            type="text"
            [(ngModel)]="user.qualification"
            name="qualification"
            class="form-control"
            id="qualification-id"
            placeholder="Enter qualification"
          />
        </div>

        <br />

        <div class="col-8">
          <label for="admin_id" class="visually-hidden">Resident</label>
          <input
            type="text"
            [(ngModel)]="user.resident"
            name="resident"
            class="form-control"
            id="resident-id"
            placeholder="Enter resident"
          />
        </div>

        <br />

        <div class="col-8">
          <label for="admin_id" class="visually-hidden">Pin code</label>
          <input
            type="text"
            [(ngModel)]="user.pincode"
            name="pincode"
            class="form-control"
            id="pin-code-id"
            placeholder="Enter pincode"
          />
        </div>

        <br />

        <div class="col-8">
          <label for="admin_id" class="visually-hidden">District</label>
          <input
            type="text"
            [(ngModel)]="user.district"
            name="district"
            class="form-control"
            id="district-id"
            placeholder="Enter district"
          />
        </div>

        <br />

        <var>
          <div class="col-8">
            <label for="admin_id" class="visually-hidden">State</label>
            <input
              type="text"
              [(ngModel)]="user.state"
              name="state"
              class="form-control"
              id="state-id"
              placeholder="Enter state"
            />
          </div>
          <br />

          <div class="col-8">
            <label for="admin_id" class="visually-hidden">HouseNo</label>
            <input
              type="text"
              [(ngModel)]="user.houseNo"
              name="houseNo"
              class="form-control"
              id="house-no-id"
              placeholder="Enter HouseNo"
            />
          </div>
          <br />

          <div class="col-8">
            <label for="admin_id" class="visually-hidden">Landmark</label>
            <input
              type="text"
              [(ngModel)]="user.landMark"
              name="landMark"
              class="form-control"
              id="landmark-id"
              placeholder="Enter landmark"
            />
          </div>

          <br />

          <div class="col-8">
            <label for="admin_id" class="visually-hidden">ContactNo</label>
            <input
              type="text"
              [(ngModel)]="user.contactNo"
              name="contactNo"
              class="form-control"
              id="contact-no-id"
              placeholder="Enter contactNo"
            />
          </div>
        </var>

        <br />
        <!-- <br /> -->
        <div class="col-8" id="btn">
          <button
            type="submit"
            class="btn btn-primary mb-3"
            id="sub-btn"
            (click)="signup()"
          >
            Signin
          </button>
          <button type="reset" class="btn btn-danger mb-3" id="reset-btn">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{{ selected }}
