<p id="best-books">Some best books to read in 2022</p>
<br /><br />
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          id="best_book_id"
          src="assets/img/best_book_1.png"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
          <h5 class="card-title" id="book-1">You Better Be Lightning</h5>
          <button
            mat-raised-button
            (click)="
              openDialog('Open dialog to request issue this book', '0ms', '0ms')
            "
            type="submit"
            class="btn btn-outline-info"
            id="read-book-btn"
          >
            <ul class="list-group list-group-flush">
              <li class="list-group-item" id="read-book-1">Read Book</li>
            </ul>
          </button>
        </div> -->
        <br />
        <button
          mat-raised-button
          (click)="
            openDialog('Open dialog to request issue this book', '0ms', '0ms')
          "
          type="submit"
          class="btn btn-outline-info"
          id="read-book-btn"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="read-book-1">Read Book</li>
          </ul>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          id="best_book_id"
          src="assets/img/best_book_2.png"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
          <h5 class="card-title" id="book-2">Love In A Time Of War</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div> -->
        <br />
        <button
          (click)="
            openDialog('Open dialog to request issue this book', '0ms', '0ms')
          "
          type="submit"
          class="btn btn-outline-info"
          id="read-book-btn-2"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="read-book-2">Read Book</li>
          </ul>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          id="best_book_id"
          src="assets/img/best_book_5.png"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
          <h5 class="card-title" id="book-4">Atlantis And Other Lost World</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div> -->
        <br />
        <button
          (click)="
            openDialog('Open dialog to request issue this book', '0ms', '0ms')
          "
          type="submit"
          class="btn btn-outline-info"
          id="read-book-btn-4"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="read-book-4">Read Book</li>
          </ul>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          id="best_book_id"
          src="assets/img/book-200.webp"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
          <h5 class="card-title" id="book-1">Shiver</h5>
          <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
        </div> -->
        <br />
        <button
          (click)="
            openDialog('Open dialog to request issue this book', '0ms', '0ms')
          "
          type="submit"
          class="btn btn-outline-info"
          id="read-book-btn-5"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="read-book-1">Read Book</li>
          </ul>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          id="best_book_id"
          src="assets/img/best_book_10.png"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
          <h5 class="card-title" id="book-2">Atlantis And Other Lost World</h5>
          <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
        </div> -->
        <br />
        <button
          (click)="
            openDialog('Open dialog to request issue this book', '0ms', '0ms')
          "
          type="submit"
          class="btn btn-outline-info"
          id="read-book-btn-7"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="read-book-2">Read Book</li>
          </ul>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          id="best_book_id"
          src="assets/img/best_books_100.jpg"
          class="card-img-top"
          alt="..."
        />
        <br />
        <button
          (click)="
            openDialog('Open dialog to request issue this book', '0ms', '0ms')
          "
          type="submit"
          class="btn btn-outline-info"
          id="read-book-btn-10"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="read-book-4">Read Book</li>
          </ul>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          id="best_book_id"
          src="assets/img/goku_img.jpg"
          class="card-img-top"
          alt="..."
        />
        <br />
        <button
          (click)="
            openDialog('Open dialog to request issue this book', '0ms', '0ms')
          "
          type="submit"
          class="btn btn-outline-info"
          id="read-book-btn-10"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="read-book-4">Read Book</li>
          </ul>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          id="best_book_id"
          src="assets/img/killua_img.jpg"
          class="card-img-top"
          alt="..."
        />
        <br />
        <button
          (click)="
            openDialog('Open dialog to request issue this book', '0ms', '0ms')
          "
          type="submit"
          class="btn btn-outline-info"
          id="read-book-btn-10"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="read-book-4">Read Book</li>
          </ul>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          id="best_book_id"
          src="assets/img/ichigo_img.jpg"
          class="card-img-top"
          alt="..."
        />
        <br />
        <button
          (click)="
            openDialog('Open dialog to request issue this book', '0ms', '0ms')
          "
          type="submit"
          class="btn btn-outline-info"
          id="read-book-btn-10"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="read-book-4">Read Book</li>
          </ul>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          id="best_book_id"
          src="assets/img/senku_img.jpg"
          class="card-img-top"
          alt="..."
        />
        <br />
        <button
          (click)="
            openDialog('Open dialog to request issue this book', '0ms', '0ms')
          "
          type="submit"
          class="btn btn-outline-info"
          id="read-book-btn-10"
        >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="read-book-4">Read Book</li>
          </ul>
        </button>
      </div>
    </div>
  </div>
</div>
