<p>check-request works!</p>

<div class="container">
    <h5>Books List</h5>
    <div class="row" id="row-card-id">
      <ng-container
        *ngFor="
          let b of books
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
      >
        <div
          class="card col-md-2"
          id="material-card-admin-dashboard-id"
        >
          <span
            class="glyphicon glyphicon-education"
            style="font-size: 24px; color: red"
          ></span>
          <img style="width: 200px" src="{{ b.image }}" />
          <p>Book Title: {{ b.bookTitle }}</p>
          <h5>userId : {{ b.userId }}</h5>
        </div>
      </ng-container>
    </div>
  </div>
  
  <div>
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChanged($event)"
    ></pagination-controls>
  </div>
  
