<!-- <br /><br />
<p
  class="text-center"
  style="
    font-size: 35px;
    text-align: center;
    font-style: oblique;
    margin-left: 10%;
    color: blue;
  "
>
  Check all user's profile
</p>
<br /><br />
<div class="container text-center">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-active">
            <th>{{ role }} Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Contact No</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tr *ngFor="let au of allusers">
          <td>{{ au.userName }}</td>
          <td>{{ au.role }}</td>
          <td>{{ au.email }}</td>
          <td>{{ au.contactNo }}</td>
          <td>
            <span
              class="glyphicon glyphicon-edit"
              style="color: blue"
              (click)="update(au.role,au.userId)"
            ></span>
          </td>
          <td>
            <span
              class="glyphicon glyphicon-trash"
              style="color: red"
              (click)="delete()"
            ></span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div> -->

<!-- ====================================== -->

<div class="main-container-2">

<br /><br />

<p
  style="
    font-family: Lorem ipsum dolor sit amet;
    font-size: large;
    color: blue;
    text-align: center;
  "
>
  All User's profiles
</p>
<br />
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="padding-top: 15px;"><h4>Name</h4></th>
    <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef style="padding-top: 15px;"><h4>Email</h4></th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef style="padding-top: 15px;"><h4>Role</h4></th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="contactNo">
    <th mat-header-cell *matHeaderCellDef style="padding-top: 15px;"><h4>Contact</h4></th>
    <td mat-cell *matCellDef="let element">{{ element.contactNo }}</td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef style="padding-top: 15px;"><h4>Edit</h4></th>
    <!-- <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td> -->
    <td mat-cell *matCellDef="let element">
      <span
        class="glyphicon glyphicon-edit"
        style="color: blue"
        (click)="update(element.role, element.userId)"
      ></span>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef style="padding-top: 15px;"><h4>Delete</h4></th>
    <td mat-cell *matCellDef="let element">
      <!-- {{ element.contactNo }} -->
      <span
        class="glyphicon glyphicon-trash"
        style="color: red"
        (click)="delete()"
      ></span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>

</div>
